body {
  margin: 0;
  overflow: hidden;
}

#background-photo {
  width: 100%; 
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.people-photo {
  position: absolute;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}